/* fonts */


@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
/* font-family: 'Roboto Mono', monospace; */

@font-face {
  font-family: 'Ligth';
  src: url('../fonts/ligth.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Regular';
  src: url('../fonts/regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Medium';
  src: url('../fonts/medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rustica';
  src: url('../fonts/Rustica.ttf');
  font-weight: normal;
  font-style: normal;

}




/* nav */


nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  margin: 10px;
  padding-left: 70px;
  font-family: Medium;
}
.lenguage {
  margin-right: 40px;
}
.lenguage a {
  font-family: Medium;
  color: #000000;
  font-size: 1.2rem;
}

nav.navbar ul {
  display: flex;
}
nav.navbar ul a {
  text-decoration: none;
  font-family: Medium;
  color: #000000;
  font-size: 1.2rem;
}

nav.navbar ul a li {
  list-style: none;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

/* fin del nav */

/* nav dos */

div.nav2 {
  background-color: #e3ebeb;
}
div.nav2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
div.nav2 ul a {
  text-decoration: none;
  font-family: Medium;
  color: #000000;
  font-size: 1.1rem;
}
div.nav2 ul a li {
  margin: 20px;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
}

/* fin de la nav dos */

/* header */
.header {
  position: relative;
  height: 500px;
}

/* fin del header */

/* seccion uno */

.seccionuno {
  display: flex;
  background-color: #f7f8f9;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.seccionuno .title {
  padding: 20px;
  color: #1c1c1b;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Rustica';
}

.seccionuno .text {
  font-size: 15px;
  color: #474747;
  text-align: center;
  line-height: 1.67;
  padding: 0px 100px 40px 100px;
  font-family: 'Regular';
}

/* fin de la seccion uno */

/* seccion dos */
.secciondos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-left: 50px;
  margin-right: 50px;
margin-bottom: 50px;
}


.secciondos .card {
  padding: 10px;
  width: 20%;

  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.secciondos .card .image {
  width: 100%;
  height: 250px;
  margin: auto;
  filter: grayscale(90%);
}
.secciondos .card .title {
  padding: 20px 0 10px 0;
  font-size: 20px;
  letter-spacing: 3px;
  color: #737578;
  text-transform: uppercase;
  font-family: 'Medium';

  
}
.secciondos .card .text {
  font-size: 14px;
  line-height: 1.79;
  color: #979899;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Ligth';
}
.secciondos .card .link {
  font-size: 13px;
  color: #5f6062;
  text-decoration: none;
  border-bottom: 1px #5f6062 solid;
  margin: auto;
  font-family: 'Light';
}
/* fin de la seccion dos */

/* seccion tres */

.secciontres {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  background-color: #F7F8F9;
  margin-bottom: 60px;
}

.secciontres .text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secciontres .text .title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: #1c1c1b;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Rustica';
}
.secciontres .text .text {
  width: 80%;
  font-size: 15px;
  line-height: 1.79;
  color: #474747;
  text-align: left;
  margin-bottom: 50px;
  font-family: 'Regular';
}
.secciontres .text .link{
  font-size: 13px;
    color: #5F6062;
    text-decoration: none;
    border-bottom: 1px #5f6062 solid;
}

.secciontres .image {
  height: 500px;
  width: 55%;
}

/* fin de la seccion tres */



/* footer */

footer ul{
  list-style-type: none;
    width: 100%;
    padding: 0;
}

footer{
  border-top: 1px #c6e7e7 solid;
    text-align: center;
  text-align: center;
 
  font-size: 13px;
    color: #474747;
    margin: 24px 13px 29px 13px;

    font-family: 'Medium';
}
footer a{

  text-decoration: none;
   color: #474747;
}
footer li{
  margin: 12px 13px 12px 13px;
  color: #474747;
}

/* fin del footer */