@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
/* font-family: 'Roboto Mono', monospace; */
/* nav */

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  margin: 10px;
  padding-left: 70px;
  font-family: "Roboto Mono", monospace;
}
.lenguage {
  margin-right: 40px;
}
.lenguage a {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 1.2rem;
}

nav.navbar ul {
  display: flex;
}
nav.navbar ul a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 1.2rem;
}

nav.navbar ul a li {
  list-style: none;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

/* fin del nav */

/* nav dos */

div.nav2 {
  background-color: #e3ebeb;
}
div.nav2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
div.nav2 ul a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 1.1rem;
}
div.nav2 ul a li {
  margin: 20px;
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
}

/* fin de la nav dos */

/* header */
.header {

  position: relative;
  height: 500px;
}

/* fin del header */


/* seccion uno */

.seccionuno{
  display: flex;
  background-color: #f7f8f9;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.seccionuno .title{
    padding: 20px;
    color: #1c1c1b;
    font-size: 30px;
    text-transform: uppercase;
}

.seccionuno .text{
  font-size: 20px;
  color: #474747;
  text-align: center;
  line-height: 1.67;
  padding: 0px 100px 40px 100px;
}


/* fin de la seccion uno */